@inject IViewLocalizer localizer
<link rel="stylesheet" href="~/css/footer.css">
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/tor-logo.webp" alt="tor-logo">
                <p class="mt-3">@localizer["0"]</p>
            </div>
            <div class="col-md-3">
                <h4>@localizer["1"]</h4>
                <hr>
                <div class="footer-icerik">
                    <ul>
                        <li><i class="fa-solid fa-phone"></i> +90 553 602 53 87</li>
                        <li><i class="fa-solid fa-envelope"></i> info@torservicesturkey.com</li>
                        <li><i class="fa-solid fa-location-dot"></i>
                            @localizer["2"]
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="diger">
                    <ul>
                        <li><i class="fa-solid fa-phone"></i> +52 229 262 5628</li>                        
                        <li><i class="fa-solid fa-location-dot"></i>
                           Av. Ùrsulo Galvàn #203. Col,Las Bajadas, 91726 Veracruz, Ver. Mèxico
                        </li>
                    </ul>
                    <ul>
                        <li><i class="fa-solid fa-phone"></i> +34 661 01 52 79</li>                        
                        <li><i class="fa-solid fa-location-dot"></i>
                           DIAMAX GESTİON S.L. POL.IND LES TAPİES CALLE VIRGILI I BELLVER64 43890 HOSPITALET DE LOS INFANTES (TARRAGONA) CIF : B67246975
                        </li>
                    </ul>
                    <ul>
                        <li><i class="fa-solid fa-phone"></i> +34 636 73 56 35</li>                        
                        <li><i class="fa-solid fa-location-dot"></i>
                           CLIENTE : DIAMAX GESTION S.L. POL IND "PLA DE RASCANYA" C. SERRA, NAVE CLLIRIA (46100) VALENCIA C.I.F: B-672"46975
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

    </div>
</div>
